parameters:
	ignoreErrors:
		-
			message: '#^Method Raoh\\Result\:\:traverse\(\) should return Raoh\\Result\<list\<U\>\> but returns Raoh\\Err\<never\>\|Raoh\\Ok\<list\<mixed\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/Result.php

		-
			message: '#^PHPDoc tag @var with type Raoh\\Err\<T\> is not subtype of native type \$this\(Raoh\\Result\<T\>\)\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Result.php

		-
			message: '#^PHPDoc tag @var with type Raoh\\Err\<U\> is not subtype of native type \$this\(Raoh\\Result\<T\>\)\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Result.php

		-
			message: '#^Trait Raoh\\StaticConstructor is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/StaticConstructor.php
